@font-face {
    font-family: yekan;
    src: url(YEKAN\ PLUS.TTF);
}

@font-face {
    font-family: nastaliq;
    src: url(IranNastaliq.ttf);
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 85%;
    height: 100px;
    background-color: aquamarine;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    margin: 0 auto;
}

.profile {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 40px;
}

body {
    font-family: yekan;
    direction: rtl;
}

#menubar {
    font-size: x-large;
}

#menubar {
    width: 100%;
    height: 50px;
    background: steelblue;
    border-radius: 5px;
    margin: 0 auto;
}

#fmenu {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#fmenu ul :last-child {
    float: left;
    margin-left: 0px;

}

#fmenu ul li a:hover {
    color: lightblue;
}

#logo a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#fmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#fmenu ul li {
    float: right;
    line-height: 50px;
    margin-left: 30px;
}

#fmenu ul a {
    color: white;
}

.main {
    width: 85%;
    height: 400px;
    background-color:white;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color:steelblue;
    float: right;
    border-radius: 10px;
}

.content {
    width: 73%;
    height: 100%;
    background-color: white;
    float: left;
}

.sidebar ul {
    margin: 25px;
}
.sidebar ul li {
    margin: 15px;
}
pre {
    font-family: nastaliq;
    font-size:xx-large;
    margin: 20px 200px 20px 100px;
    float: right;
}

.mesra1 {
    width: 40%;
    float: right;
}

.mesra2 {
    width: 40%;
    float: left;
    direction: ltr;
}

#login {
    width: 400px;
    height: 500px;
    background-color: steelblue;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px gray;
    padding: 20px 30px;
}

.btn {
    all: unset;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    margin: 5px;
}

.btn.btn-login {
    background-color: rgb(110, 223, 223);
    color: black;
}

.btn.btn-login:hover {
    background-color: rgb(65, 91, 139);
}

.btn.btn-login:active {
    background-color: rgb(25, 25, 32);
    color: rgb(143, 136, 136);
}

.text1 {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 10px;
    font-size: 18px;
    font-family: yekan;
}

.register {
    text-decoration: none;
    color: black;
}

.sabt {
   margin-right: 10px;
   margin-bottom: 10px;
   text-decoration: none;
}

.fmovie {
    width: 100%;
    height: 250px;
    margin: 50px auto;
    float: left;
    direction: ltr;

}
.fmovie a img {
    width: 180px;
    height: 200px;
}


.fmovie ol li {
    float: left;
    margin-left: 30px;
    box-shadow: 3px 3px 10px gray;

}
 .main h1 {
    margin:20px 500px;
    font-size: xx-large;

 }
